.side-container {
  height: 80vh;
  background-color:black;
  width: 300px;
  top:100px;
  position: fixed;
  z-index: 99999999;
  transition-duration: 300ms;
}

.closed {
  right: -300px;
}

.open {
  right:0;
}
