.modal-menu {
  height:40vh;
  background-color:black;
  border:1px solid white;
  width: 50vw;
  padding:3rem;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    .modal-item{
      font-size:1.3rem;
      width: 70%;
      border:none;
      color:white;
      text-align: center;

      background:none;
    }
}

