.x-cart {
  border:2px solid white;
  background-color:black;
  color:white;
  border-radius:10px;
  padding:10px 20px;
  width:auto;
  font-size:20px;
  position:relative;
  &:hover{
    background-color:red;
  }
}
