.card {
    .item-card-price {
        font-family: 'Lato', sans-serif;
        padding:.2rem .6rem;
        color:white;
        border-radius:5px;
        background-color:#ff3d00;
        font-size:20px;
    }
    .card-text{
        height : 120px;
        font-family: 'Roboto Light', sans-serif;
        @media only screen and (max-width: 576px){
            height: auto;
        }
    }
    .view-recipe-button-text {
        font-family: 'Lato', sans-serif;
    }
    .view-recipe-button {
        color:purple;
        border:1px solid #ff3d00;
        &:hover{
            background-color:#ff3d00;
            color:white;
        }
    }
    .add-area{
        font-family: 'Lato', sans-serif;
        .add-button{
            cursor: pointer;
           color:#ff3d00;
            font-size:40px;
        }
        .font-size-40 {
            font-size:40px;
        }
    }
 .accordion {
     font-family: Roboto ,sans-serif;
 }
}

