@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Chela+One&display=swap');
@import 'helpers';
@font-face {
  font-family: 'cooper_blackregular';
  src: url('/fonts/cooper-webfont.woff2') format('woff2'),
  url('/fonts/cooper-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@import "./shared/navbar.component";
@import "shared/cart.module";
@import "./home/hero.section";
@import "./menu-section/submenu.component.scss";
@import "./shared/item-card.module.scss";
body{
  font-family: cooper_blackregular;
  background-image: linear-gradient(61deg, #ff3d00 25%, #fff 25%, #fff 50%, #ff3d00 50%, #ff3d00 75%, #fff 75%, #fff 100%);
  background-size: 1829.37px 3300.26px;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
html{
  scroll-behavior: smooth;
}


