.isHero{
  height: 100vh;
  background-size: cover;
  background-color:black;
  background-image: url('/images/mainbg.jpg');
  @media only screen and (max-width: 576px){
    background-image: url('/images/thirdbg.jpg');
  }
}
.home-page {
  background-image: linear-gradient(61deg, #ff3d00 25%, #fff 25%, #fff 50%, #ff3d00 50%, #ff3d00 75%, #fff 75%, #fff 100%);
  background-size: 1829.37px 3300.26px;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.darkOverlay {
  position:relative;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,0.3);
  @media only screen and (max-width: 576px) {
    background-color:rgba(0,0,0,0.5);
  }
    .heroText{
      @media only screen and (max-width: 5000px)  {
        padding-top:10vh;
        .beastText{
          letter-spacing:.3rem;
          text-shadow: black;
          color:white;
          line-height: 7rem;
        }
      }
      @media only screen and (max-width: 1200px)  {
        padding-top:20vh;
        .beastText{
          letter-spacing:.3rem;
          text-shadow: black;
          color:white;
          line-height: 3.5rem;
        }
      }
      @media only screen and (max-width: 992px)  {
        padding-top:10vh;
        .beastText{
          letter-spacing:.3rem;
          text-shadow: black;
          color:white;
          line-height: 6rem;

        }
      }
      @media only screen and (max-width: 576px)  {
        padding-top:10vh;
        .beastText{
          letter-spacing:.3rem;
          text-shadow: black;
          color:white;
          line-height: 3rem;
        }
      }
    }
  @media only screen and (max-width: 5000px) {
    .call-to-action {
        width: 100%;
        text-align: center;
        margin-top:3rem;
          .call-to-action-btn {
            background-color:#0f0000;
            color:white;
            //padding:1.5rem 4rem;
            width: 392px;
            height: 111px;
            font-size:40px;
            border:5px solid white;
            border-radius:25px;
            transition-duration: 400ms;
            &:hover{
              background-color:#FF3D00;
            }
          }
      }
  }
  @media only screen and (max-width: 767px) {
    .call-to-action {
        width: 100%;
        text-align: center;
        margin-top:3rem;
          .call-to-action-btn {
            background-color:#0f0000;
            color:white;
            //padding:1.5rem 4rem;
            width: 60%;
            height: 80px;
            font-size:20px;
            border:3px solid white;
            border-radius:10px;
            transition-duration: unset;
            &:hover{
              background-color:#FF3D00;
            }
          }
      }
  }
}


