.sub-menu{
  .x-button{
    width:20%;
    background-color:white;
    border-radius:10px;
    //border:2px solid black;
    border:none;
    color:black;
    font-size:18px;
    padding:.7rem .5rem ;
    transition-duration: 400ms;
    cursor:pointer;
    &:hover{
      background-color:#ff7700;
      color:white;
    }
  }
}


