  .sub-menu{
    .x-button{
      background:none;
      color:white;
      font-size:18px;
      padding:.4rem .5rem ;
      transition-duration: 200ms;
      cursor:pointer;
      text-align:center;
      &:hover{
        background-color:#ff7700;
        color:white;
      }
    }
  }




