.card {
    .x-button{
        width:auto;
        background-color:black;
        border-radius:10px;
        border:none;
        color:white;
        font-size:18px;
        padding:.7rem .5rem ;
    }
}

